{% load tagging_tags comments i18n thumbnail%}

{% if ressource.categories.count %}
{% else %}
{% if ressource.short_description or ressource.description %}
        <div class="infosub">
           <div class="section"> 
           <h5>{% for galleri in ressource.gallery_set.all %} {{ galleri.name  }}{% endfor %}</h5	>
            <p>{{ ressource.header|safe  }}</p>
			{%comment%}<p><em>{{ ressource.short_description }}</em></p> {% endcomment%}
            </div>
			<div class="infomore">
			{{ ressource.description }}
			</div>
        </div>
       {% endif %}
       {% endif %}
	   
{% if ressource.galleries.count %}
        <div class="infosub">
           <div class="section"> 
           <h5>{% for galleri in ressource.gallery_set.all %} {{ galleri.name  }}{% endfor %}</h5	>
            <p>{{ ressource.header|safe  }}</p>
			<p><em>{{ ressource.short_description }}</em></p>
            </div>
			<div class="infomore">
			{{ ressource.description }}
			</div>
        </div>
       {% endif %}
{% if ressource.categories.count %}
        <div class="infosub">
           <div class="section"> 
           <h5>{% for galleri in ressource.gallery_set.all %} {{ galleri.name  }}{% endfor %}</h5	>
            <p>{{ ressource.name|safe  }}</p>
            </div>
        </div>
{% else %}
	{% if ressource.ressources.count %}
        <div class="infosub">
           <div class="section"> 
           <h5>{% for galleri in ressource.gallery_set.all %} {{ galleri.name  }}{% endfor %}</h5	>
            <p>{{ ressource.name|safe  }}</p>
			<p><em>{{ ressource.short_description }}</em></p>
            </div>
			<div class="infomore">
			{{ ressource.description }}
			</div>
        </div>
    {% endif %}
{% endif %}
