
$logo:"logo.png";//YourLogo 
$logo_small:"logo/logo_small.png";//YourLogo 
$background:#FFF;//purple
$alternateColor:#c34c2b;
$colorText:#202221;
$link-color:#c34c2b ;//purple
$white:rgb(255,255,255);
$bfoot:#030303;//blackFoot	
$dfoot:#1E1E1E;//DarkerBrown
$menu_color:#858180;//Menuorange
$menu_hover:#e6e6e6;//Menustate

$base-font-size:16px;
$base-line-height: 22px ;
$relative-font-sizing : false;